<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobileapplicationdevelopment.dogvio">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DogApp">
        <activity
            android:name=".NavigationPage"
            android:exported="true" />
        <activity
            android:name=".social_user_doglist"
            android:exported="true" />
        <activity
            android:name=".Social_AddDog"
            android:exported="true" />
        <activity
            android:name=".Social_DogDetails"
            android:exported="true" />
        <activity
            android:name=".Social_DogsList"
            android:exported="true" />
        <activity
            android:name=".RegistrationPage"
            android:exported="true" />
        <activity
            android:name=".LoginPage"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true">

            <!-- Make Home Activity as the home page -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Doctor_Appoinment_payment"
            android:exported="false" />
        <activity
            android:name=".Doctor_delete_popup_msg"
            android:exported="false" />
        <activity
            android:name=".Doctor_Time_Picking_data_page"
            android:exported="true" />
        <activity
            android:name=".Doctor_Time_Picking_page"
            android:exported="false" />
        <activity
            android:name=".Doctor_Booking_Select_Page"
            android:exported="false" />
        <activity
            android:name=".Doctor_Booking_main"
            android:exported="true" />
        <activity
            android:name=".Delete_Booking"
            android:exported="false" />
        <activity
            android:name=".ContactUs_Page"
            android:exported="false" />
        <activity
            android:name=".Add_Bill"
            android:exported="false" />
        <activity
            android:name=".Update_Booking"
            android:exported="false" />
        <activity
            android:name=".DisplayBooking"
            android:exported="false" />
        <activity
            android:name=".Booking_DayCare"
            android:exported="false" />
        <activity
            android:name=".Monthly_Memberships"
            android:exported="false" />
        <activity
            android:name=".Old_Customer"
            android:exported="false" />
        <activity
            android:name=".Day_Care"
            android:exported="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>